In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Load data

In [12]:
data = pd.read_csv('Solver verification experiment.csv')
print(f"{len(data.index)} rows")
data.head()

3000 rows

,wins,wins_without_guess,time_elapsed,samples_considered,samples_with_solutions,difficulty,sample_size,use_num_mines_constraint,first_click_pos,first_click_is_zero,parameters_id
0,48,46,1.999817,159,155,Beginner (9x9),11x11,True,"(3, 3)",True,1
1,48,48,2.109485,162,160,Beginner (9x9),11x11,True,"(3, 3)",True,1
2,47,46,2.234476,168,163,Beginner (9x9),11x11,True,"(3, 3)",True,1
3,49,45,2.265723,155,149,Beginner (9x9),11x11,True,"(3, 3)",True,1
4,47,44,2.468828,163,156,Beginner (9x9),11x11,True,"(3, 3)",True,1

# Analyse

In [18]:
# Group by parameters combo and sum up columns of interest
data_sum = data.groupby(['parameters_id']).agg({
    'wins': 'sum',
    'wins_without_guess' : 'sum',
    'time_elapsed' : 'sum',
    'samples_considered' : 'sum',
    'samples_with_solutions' : 'sum'})
data_sum

,wins,wins_without_guess,time_elapsed,samples_considered,samples_with_solutions
parameters_id,,,,,
1,48089,45408,2309.099058,166122,161109
2,42548,35182,25274.535951,436897,415474
3,18089,7283,176205.496699,965135,859161