In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [47]:
data_folder_path = './Batch size and processes count/'
file_name = 'Batch size and processes count experiment.csv'
other_file_name = 'Batch size and processes count experiment_other-data.csv'

data = pd.read_csv(data_folder_path + file_name)
other_data = pd.read_csv(data_folder_path + other_file_name)

   wins  wins_without_guess  time_elapsed  samples_considered  \
0     1                   1      0.015641                   3
1     1                   1      0.031264                   4
2     1                   1      0.140815                   6
3     0                   0      0.031173                   4
4     1                   1      0.343858                  11

   samples_with_solutions            difficulty sample_size  \
0                       3        Beginner (9x9)       11x11
1                       4        Beginner (9x9)       11x11
2                       6  Intermediate (16x16)       18x18
3                       3        Beginner (9x9)       11x11
4                      11  Intermediate (16x16)       18x18

   use_num_mines_constraint first_click_pos  first_click_is_zero  \
0                      True          (3, 3)                 True
1                      True          (3, 3)                 True
2                      True          (3, 3)                 True
3                      True          (3, 3)                 True
4                      True          (3, 3)                 True

   parameters_id  batch_size  num_processes
0              1           1              4
1              1           1              4
2              2           1              4
3              1           1              4
4              2           1              4

,sample_size,use_num_mines_constraint,first_click_pos,num_games,verbose,visualise,agent_seed,run_seed
0,NaN,True,"(3, 3)",7500,False,False,20,2020

In [49]:
print(data.shape)
data

(310860, 13)

,wins,wins_without_guess,time_elapsed,samples_considered,samples_with_solutions,difficulty,sample_size,use_num_mines_constraint,first_click_pos,first_click_is_zero,parameters_id,batch_size,num_processes
0,1,1,0.015641,3,3,Beginner (9x9),11x11,True,"(3, 3)",True,1,1,4
1,1,1,0.031264,4,4,Beginner (9x9),11x11,True,"(3, 3)",True,1,1,4
2,1,1,0.140815,6,6,Intermediate (16x16),18x18,True,"(3, 3)",True,2,1,4
3,0,0,0.031173,4,3,Beginner (9x9),11x11,True,"(3, 3)",True,1,1,4
4,1,1,0.343858,11,11,Intermediate (16x16),18x18,True,"(3, 3)",True,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310855,160,67,2397.057697,9708,8653,Expert (16x30),18x32,True,"(3, 3)",True,3,500,24
310856,181,64,2638.821452,9787,8692,Expert (16x30),18x32,True,"(3, 3)",True,3,500,24
310857,167,55,2622.277961,9598,8439,Expert (16x30),18x32,True,"(3, 3)",True,3,500,24
310858,193,80,2721.248593,9859,8795,Expert (16x30),18x32,True,"(3, 3)",True,3,500,24
310859,178,65,2723.857645,9633,8467,Expert (16x30),18x32,True,"(3, 3)",True,3,500,24

In [48]:
print(other_data.shape)
other_data

(310860, 13)